<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Listing subscriptions") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<!-- work blurbs -->
<%= render 'works/work_subscription_works' %>
<!-- user blurbs -->
<%= render 'works/work_subscription_users' %>
<!-- series blurbs -->
<%= render 'works/work_subscription_series' %>

